<h1> <%= @client.name  %></h1>
<form action="/clients/<%= @client.name %>" method="post" class="form-inline">
  <input name="_method" type="hidden" value="patch">
  <label for="new_name">Rename your client:</label>
  <input id="new_name" name="new_name" type="text" class="form-control">

  <button type="submit" class = "btn btn-default">Update</button>
</form>

<hr>
<form action="/clients/<%= @client.name  %>" method="post">
  <input name="_method" type="hidden" value="delete">
<p align="center">
  <button type="submit" class="btn btn-danger" style="text-align:center;">Delete Client</button>
</p>
</form>
