<!DOCTYPE html>
<html>
  <head>
    <title>Hello Friend!</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <div class="container">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/stylists">My Stylists</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/clients">Clients</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" ></a>
        </li>
      </ul>
      <%=
yield
 %>
    </div>
  </body>
</html>
