<h1><%= @stylist.name() %>  </h1>

<h2>Clients;</h2>
<ul>
  <% @clienties.each() do |client| %>
    <li><a href="/clients/<%= client.name()%>"><%= client.name() %></a> </li>
    <%end%>
</ul>

<div class="container">
  <a href="/">Home</a>
  <a href="/stylists/<%= @stylist.id() %>/edit">Edit This Stylist</a>
</div>
