<% if @stylists.any?() %>
<ul>
  <% @stylists.each do |stylist| %>
  <li><a href="/stylists/<%= stylist.id() %>"><%= stylist.name() %></a></li>
  <% end %>
</ul>
<% else %>
<p>There are no stylists yet!</p>
<% end %>
